<nav id="navbar">
  <a href="#welcome-section">Get to know me</a>
  <a href="#projects">Chek out my work</a>
    <a href="#contact">Contact me</a>
</nav>
<section id="welcome-section">
  <h1>I guess I have a Portfolio now</h1>
    <p>
        Hello, I am Thais. I am a web developer from Brazil. I have been working as a web developer for over a year now.
        I have a passion for programming and I am always looking for new challenges. </p>
        
</section>
<section id="projects">
    <a href="https://viveiro.herokuapp.com/" target="_blank">
        <div class="card mb-3" style="width: 90%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/viveiro.png" pngclass="img-fluid rounded-start" alt="..." style="width: 100%;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Project 0</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <div class="container">
        <div class="row">
            <div class="col project-tile">
                <a href="https://relative-path.vercel.app/" target="_blank">
                    <div class="card" style="width: 18rem;">
                        <img src="images/relative.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">My final project in a Web Developers Bootcamp </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col project-tile">
                <a href="https://airbnb-thais.herokuapp.com/houses" target="_blank">
                    <div class="card" style="width: 18rem;">
                        <img src="images/airbnb.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">My first Full Stack Project </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col project-tile">
                <a href="https://codepen.io/your-work/" target="_blank">
                    <div class="card" style="width: 18rem;">
                        <img src="images/freecodecamp.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some of my FreeCodeCamp Projects </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<footer id="contact">
    <h1>Contact me</h1>
    <a href="https://github.com/thaisfinck" id="profile-link" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/thaisfinck/?locale=en_US" id="profile-link" target="_blank">Linkedin</a>
    <a href="#" id="profile-link">Email</a>
</footer>