<main class="container position-relative" style="height: 60vh;">
    <section id="welcome-section">
        <div class="position-absolute top-50 start-50 translate-middle">
            <h1>Hello, I am Thais.</h1>
            <p><em>
                Welcome to my portfolio. <br/>In 2022 I decided to change my career and become a Web Developer.
                Here I intend to share a few of my projects and my evolution in this new journey. I hope you love them as much as I do!
            </em></p>
        </div>
    </section>
    <section class="position-absolute top-100 start-50 translate-middle">
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light sticky-top">
            <div class="container-fluid">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarCenteredExample"
                    aria-controls="navbarCenteredExample"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    >
                    <i class="fas fa-bars"></i>
                </button>
                <div
                    class="collapse navbar-collapse justify-content-center container"
                >
                    <div class="navbar-nav row">
                        <div class="nav-item text-center col" style="width: 18rem;">
                        <a class="nav-link active border border-secondary" aria-current="page" href="#welcome-section">about me</a>
                        </div>
                        <div class="nav-item text-center col" style="width: 18rem;">
                        <a class="nav-link active border border-secondary" href="#projects">about my work</a>
                        </div>
                        <div class="nav-item text-center col" style="width: 18rem;">
                        <a class="nav-link active border border-secondary" href="#contact">contact me</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </section>
</main>
<section class="container" id="projects">
    <div class="p-5">
        <div class="card mb-3 mt-3 bg-transparent border-0" >
            <div class="row g-5">
                <div class="col-md-5">
                    <a href="https://viveiro.herokuapp.com/" target="_blank">
                        <img src="images/viveiro.png" pngclass="img-fluid rounded-start" alt="..." style="width: 100%;" class="img-project">
                    </a>
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title"><em>Viveiro Agriflorestal Website <small>(pt-br)</small></em></h5>
                        <p class="card-text">This was a website that I have created for a plant nursery in Brazil.<br/>
                            For this project I used ReactJs, Bootstraap and the EmailJs API.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col project-tile ps-5 pb-5">
                <div class="card bg-transparent border-0" style="width: 18rem;">
                    <a href="https://relative-path.vercel.app/" target="_blank">
                        <img src="images/relative.png" class="card-img-top img-project" alt="..." style="height: 10rem">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><em>Relative Path - My final project in a Web Developers Bootcamp</em></p>
                    </div>
                </div>
            </div>
            <div class="col project-tile ps-5 pb-5">
                <div class="card bg-transparent border-0" style="width: 18rem;">
                    <a href="https://airbnb-thais.herokuapp.com/houses" target="_blank">
                        <img src="images/airbnb.png" class="card-img-top img-project" alt="..." style="height: 10rem">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><em> Airbnb - My first Full Stack Project</em></p>
                    </div>
                </div>
            </div>
            <div class="col project-tile ps-5 pb-5">
                <div class="card bg-transparent border-0" style="width: 18rem;">
                    <a href="https://codepen.io/your-work/" target="_blank">
                        <img src="images/freecodecamp.png" class="card-img-top img-project" alt="..." style="height: 10rem">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><em>Some of my FreeCodeCamp Projects</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="container position-relative" id="contact" style="height: 50vh;">
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1 >Contact me</h1>
        <div class="container mt-5" style="width: 40vw">
            <div class="row">
                <div class="col profile-link">
                     <a class="link-dark text-decoration-none" href="https://github.com/thaisfinck" target="_blank"><i class="fab fa-github"></i><br/>Github</a>
                </div>
                <div class="col profile-link">
                    <a class="link-dark text-decoration-none" href="https://www.linkedin.com/in/thaisfinck/?locale=en_US" target="_blank"><i class="fab fa-linkedin"></i><br/>Linkedin</a>
                </div>
                <div class="col">
                    <a class="link-dark text-decoration-none" href="#" title='thaisfinck@gmail.com'><i class="fas fa-at"></i><br/>Email</a>
                </div>
            </div>
        </div>
    </div>
</footer>