
a {
  color: black;
  text-decoration: none;
}

.btn {
  border-radius: 0;
}
main {
  background-color: #d2ccb7;
}
#projects {
  background-color: #e5e2d9;
}
#contact {
  background-color: #efece4;
}
.img-project {
  filter: grayscale(100%);
}
.img-project:hover {
  filter: none;
}

.nav-link:hover {
  background-color: #e5e2d9;
}

#body {
  font-family: 'Prata', serif;
}